@model Endereco
@{
Layout = null;
}

<div class="container">
    <h1>Editar Endereco</h1>
    <form method="post" action="@Url.Action("AtualizarEndereco", "Home")">
        <input type="hidden" name="Id" value="@Model.IdUsuario" />
        
        <div class="form-group">
            <label for="Cep">Cep</label>
            <input type="text" class="form-control" id="Cep" name="Cep" value="@Model.Cep" required />
        </div>
        <div class="form-group">
            <label for="Endereco">Endereco </label>
            <input type="text" class="form-control" id="Endereco" name="Endereco" value="@Model.EnderecoCompleto" required />
        </div>
        <div class="form-group">
            <label for="Complemento">Complemento</label>
            <input type="text" class="form-control" id="Complemento" name="Complemento" value="@Model.Complemento" required />
        </div>
        <div class="form-group">
            <label for="Telefone">Telefone</label>
            <input type="text" class="form-control" id="Telefone" name="Telefone" value="@Model.Telefone" required />
        </div>
        <div class="form-group">
            <label for="Responsavel">Responsavel</label>
            <input type="checkbox" id="Responsavel" name="Responsavel" value="@Model.Responsavel" required />
        </div>
        <button type="submit" class="btn btn-success">Salvar</button>
        <a href="@Url.Action("PerfilCliente", "Home")" class="btn btn-secondary">Cancelar</a>
    </form>
</div>