@model IEnumerable<FormaPagamento>
@{
    Layout = null;
}

<div class="container">
    <h1>Formas de Pagamento</h1>
    <div class="text-center mt-4">
        <a class="btn btn-success" id="cadaProfileButton">
            <i class="fas fa-plus"></i> Cadastrar Novo Cartão
        </a>
    </div>
    <br />
    <br />
    <div class="row">
        @foreach (var pagamento in Model)
        {
            <div class="col-md-6 col-sm-12 mb-3">
                <div class="card w-100">
                    <div class="card-body">
                        <h5 class="card-title">@pagamento.NomeCompleto</h5>
                        <p class="card-text">
                            Número: @pagamento.Numero <br />
                            Vencimento: @pagamento.Vencimento <br />
                            CVV: @pagamento.CVV
                        </p>
                        <a class="btn btn-primary" asp-action="EditarPagamentos" 
                           asp-controller="Home" asp-area="" asp-route-id="@pagamento.IdFormaPagamento"><i class="fas fa-pencil-alt"></i> Editar</a>
                        <a class="btn btn-danger"><i class="fas fa-trash-alt"></i> Deletar</a>
                    </div>
                </div>
            </div>
        }
    </div>
    
</div>
<script>
    $(document).ready(function () {
        $('#cadaProfileButton').click(function () {
            $('#content').load('/Home/CadastrarPagamento/');
        });
    });
</script>